.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f6f9; 
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;;
}